<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Sistema de Pedido</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="lista-produto" routerLinkActive="active">Produtos</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" routerLink="lista-fornecedor" routerLinkActive="active">Fornecedores</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-text mx-auto">Developed by <strong>Antenor Salustiano</strong></span>
    </div>
  </nav>
</footer>
