<form class="row g-3 w-50 m-auto">
    <h2>{{ titulo }}</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Descrição:</label>
      <span style="color: #FF0000;">*</span>
      <input type="text" class="form-control" name="descricao" [(ngModel)]="descricao">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Codigo:</label>
      <span style="color: #FF0000;">*</span>
      <input type="text" class="form-control" name="codigo" [(ngModel)]="codigo">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Valor:</label>
      <span style="color: #FF0000;">*</span>
      <input type="text" class="form-control" name="valor" [(ngModel)]="valor">
    </div>
    <div class="alert alert-info" id="alerta" role="alert" *ngIf="display_success">
      Cadastrado com sucesso!
    </div>
    <div class="alert alert-danger" id="alerta" role="alert" *ngIf="display_error">
      Preencha todos os dados obrigatorios(*)!
    </div>
    <button type="button" id="enviar" class="btn btn-primary w-25" (click)="cadastroProduto()">{{btnSalvar}}</button>
    <br>
    <button type="submit" class="btn btn-danger w-25" (click)="voltar()">voltar</button>
</form>